<ul>
{% for event in course.events %}
    <li>
        <strong>
            {%  if event.status == 'Confirmed' %}
                {{ event.date }}
            {%  else %}
                <i>Date to be confirmed</i>
            {%  endif %}

            - {{ event.status.value }}

            - {{ event.name }}</strong> ({%  if event.location %}
                <i>Location to be confirmed</i>
            {%  else %}
                {{ event.location }}
            {%  endif %})
        <a href="{{ url_for('event_mgmt.edit_event', event_id=event.id) }}">✏️</a>
        {% include '_edit_agenda.html' with context %}
    </li>
{% endfor %}
</ul>