{% if event.agenda_items %}
    <table class="table table-striped table-borderless">
{#        <thead class="table-dark">#}
{#            <tr>#}
{#                <th>Time</th>#}
{#                <th>Title</th>#}
{#                <th>Lecturer</th>#}
{#                <th>Status</th>#}
{#                <th>Actions</th>#}
{#            </tr>#}
{#        </thead>#}
        <tbody>
        {% for item in event.agenda_items %}
            <tr>
                <td>{{ item.time|short_time }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.lecturer.username if item.lecturer else 'Unassigned' }}</td>
                <td style="color: {{ item.status.color }}">{{ item.status.value }}</td>
                <td>
                    <a href="{{ url_for('event_mgmt.edit_agenda_item', item_id=item.id) }}" class="btn btn-sm btn-primary">Edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p><i>Agenda to be confirmed</i></p>
{% endif %}