{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('enrolment.manage_enrollment') }}">Manage Enrollments</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
        </ol>
    </nav>
    <h2>Edit Course</h2>
    <form method="post">
        <label>Name: <input type="text" name="name" value="{{ course.name }}"></label>
        <button type="submit">Save</button>
    </form>
    {% include  '_edit_course.html' with context %}
{% endblock %}