{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('enrolment.enroll', school_id=school.id) }}">Manage Enrollments</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('school_mgmt.manage_school_program', school_id=school.id, program_id=program.id) }}">{{ school.name }} on {{ program.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('event_mgmt.edit_course', course_id=course.id) }}">{{ course.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>
    <h2>Edit Event</h2>
    <form method="post">
        <label>Name: <input type="text" name="name" value="{{ event.name }}"></label><br>
        <label>Location:
            <select name="location">
                {% for loc in locations %}
                    <option value="{{ loc.id }}" {% if event.location_id == loc.id %}selected{% endif %}>
                        {{ loc.name }}
                    </option>
                {% endfor %}
            </select>
        </label><br>
        <label>Date: <input type="date" name="date" value="{{ event.date }}"></label><br>
        <button type="submit">Save</button>
    </form>
    <a href="{{ url_for('event_mgmt.create_agenda_item', event_id=event.id) }}" class="btn btn-primary">Add Agenda Item</a>
    {% include '_edit_agenda.html' with context %}
    {% if can_view_note %}
    {% include 'event_notes.html' with context %}
    {% endif %}
{% endblock %}
