{% extends 'base.html' %}
{% block content %}
<h2>Schedule (Table View)</h2>

<!-- Filters (no wrapping form) -->
{% include '_event_filter.html' %}

<table class="table table-striped" id="schedule-table">
    <thead>
        <tr>
            <th>Event</th>
            <th>School</th>
            <th>Course</th>
            <th>Program</th>
            <th>Status</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Agenda Items</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ url_for('event_mgmt.edit_event', event_id=event.id) }}">{{ event.name }}</a></td>
                <td>{{ event.school.name if event.school else 'unknown' }}</td>
                <td>{{ event.course.name if event.course else 'unknown' }}</td>
                <td>{{ event.course.program.name if event.course and event.course.program else 'unknown' }}</td>
                <td style="color: {{ event.status.color }}">{{ event.status.value }}</td>
                <td>{{ event.date }}</td>
                <td>
                    {% if event.start_time and event.end_time %}
                        {{ event.start_time.strftime('%H:%M') }} - {{ event.end_time.strftime('%H:%M') }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ event.location.name if event.location else 'unknown' }}</td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Title</th>
                                <th>Lecturer</th>
                                <th>Duration</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in event.agenda_items %}
                                <tr>
                                    <td>{{ item.time|short_time }}</td>
                                    <td><a href="{{ url_for('event_mgmt.edit_agenda_item', item_id=item.id) }}" data-toggle="tooltip" data-placement="left" title="Description: {{ item.description }}">{{ item.title }}</a></td>
                                    <td>{{ item.lecturer.username if item.lecturer else 'unknown' }}</td>
                                    <td>{{ item.duration|short_time }}</td>
                                    <td style="color: {{ item.status.color }}">{{ item.status.value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}
